<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Mah Blog</title>

    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/normalize.min.css"/>
    <link rel="stylesheet" href="/static/css/skeleton.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
